<!-- <div>
      <div> -->
<!--         <div ng-repeat="art in albums" class="song">
 -->      <img ng-if="album.collectionExplicitness != 'explicit' " ng-src="{{ album.artworkUrl100 }}" />
 		  <img ng-if="album.collectionExplicitness == 'explicit' " ng-src="parental-advisory.png" width="100" />
          <h4>{{ album.collectionName }}</h4>
          <p>Artist: {{ album.artistName }}</p>
          <p>Track Count: {{ album.trackCount }}</p>
          <p>Primary Genre: {{ art.primaryGenreName }}</p>

       	  <button ng-click="click()">Favorite</button>
      <!--   </div> -->
<!--       </div>
 --><!--     </div>
  </div> -->

<!--   <div>testing if itunes album works</div> -->