
<!-- <form class="form-inline ticker-form" ng-submit="option.getChain(); option.getQuote()">
  <div class="form-group">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="Stock Ticker" ng-model="option.ticker">
    </div>
  </div>
  <input type="submit" class="btn btn-primary">


</form> -->

<div class="container">
  <div>
    <h1>{{option.info.Name}}
      <div class="pull-right">
        <form class="form-inline ticker-form" ng-submit="option.getChain(); option.getQuote()">
          <div class="form-group">
            <div class="input-group">
              <input type="search" class="form-control" placeholder="Stock Ticker" ng-model="option.ticker">
            </div>
          </div>
          <input type="submit" class="btn btn-primary">
        </form>
      </div>
    </h1>

  </div>

</div>


  <!-- <div>{{option.quote}}</div> -->
 <!-- <table>
   <tr>
     <th scope="row">Price</th>
     <td>{{option.info.Ask}}</td>
   </tr>

 </table> -->

</div>

<div class="container">
  <table class="table">
    <tr>
      <th scope="row">Price: </th>
      <td>{{option.info.Ask}}</td>
    </tr>
    <tr>
      <th scope="row">PE: </th>
      <td>{{option.info.PERatio}}</td>
    </tr>

  </table>
</div>


<div class="container">
    <linechart id="option-chart" data="option.data" options="option.options"></linechart>
</div>




<div class="container">



  <!-- <form class="form-inline">
    <label for="sel1" >Expiration</label>
    <select class="form-control" id="sel1" ng-init="option.date = option.dates[0]" ng-model="option.date" ng-change="option.change()">
      <option ng-repeat="date in option.dates" value="{{date.value}}">{{date.content}}</option>
    </select>
  </form> -->

  <form class="form-inline">
    <label for="sel1">Expiration</label>
    <select
      class="form-control"
      ng-model="option.date"
      ng-options="date.content for date in option.dates track by date.value"
      ng-change="option.change()">
    </select>
    <!-- {{ selectedOption.value }} -->
  </form>

  <!-- navbar  -->
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{ active: option.showCalls }" >
      <a href="#" ng-click="option.hidePuts()">Calls</a>
    </li>
    <li role="presentation" ng-class="{ active: !option.showCalls }">
      <a href="#" ng-click="option.showPuts()">Puts</a>
    </li>
  </ul>



  <img src="loading.gif" class="center-block" ng-if="option.loading">
  <!-- calls table -->
  <div ng-show="option.showCalls">
    <table class="table table-hover" ng-if="!option.loading">
      <tr>
        <th>Strike</th>
        <th>Name</th>
        <th>Last</th>
        <th>Bid</th>
        <th>Ask</th>
        <th>Change</th>
        <th>Percent Change</th>
        <th>Volume</th>
        <th>Open Interest</th>
        <th>Implied Volatility</th>
      </tr>
      <tr ng-repeat="equity in option.chain" ng-class="{success: equity[0].strong.a.content < option.quote}">
        <td>{{equity[0].strong.a.content}}</td>
        <td>{{equity[1].div.a.content}}</td>
        <td>{{equity[2].div.content}}</td>
        <td><a ng-click="option.buy(equity)">{{equity[3].div.content}}</a></td>
        <td><a ng-click="option.sell(equity)">{{equity[4].div.content}}</a></td>
        <td>{{equity[5].div.content}}</td>
        <td>{{equity[6].div.content}}</td>
        <td>{{equity[7].strong.content}}</td>
        <td>{{equity[8].div.content}}</td>
        <td>{{equity[9].div.content}}</td>
      </tr>
    </table>
  </div>

<!-- puts table  -->
  <div ng-hide="option.showCalls">
    <table class="table table-hover" ng-if="!option.loading">
      <tr>
        <th>Strike</th>
        <th>Name</th>
        <th>Last</th>
        <th>Bid</th>
        <th>Ask</th>
        <th>Change</th>
        <th>Percent Change</th>
        <th>Volume</th>
        <th>Open Interest</th>
        <th>Implied Volatility</th>
      </tr>
      <tr ng-repeat="equity in option.puts" ng-class="{success: equity[0].strong.a.content > option.quote}">
        <td>{{equity[0].strong.a.content}}</td>
        <td>{{equity[1].div.a.content}}</td>
        <td>{{equity[2].div.content}}</td>
        <td><a ng-click="option.buyPut(equity)">{{equity[3].div.content}}</a></td>
        <td><a ng-click="option.sellPut(equity)">{{equity[4].div.content}}</a></td>
        <td>{{equity[5].div.content}}</td>
        <td>{{equity[6].div.content}}</td>
        <td>{{equity[7].strong.content}}</td>
        <td>{{equity[8].div.content}}</td>
        <td>{{equity[9].div.content}}</td>
      </tr>
    </table>
  </div>

</div>



<div id="footer" ng-if="option.orders.length > 0">

  <div class="container">
    <table class="table" id="orderTable">
      <tr>
        <th>Side</th>
        <!-- <th>Quantity</th> -->
        <!-- <th>Symbol</th> -->
        <th>Exp</th>
        <th>Strike</th>
        <th>Type</th>
        <th>Premium</th>
        <th></th>
      </tr>
      <tr ng-repeat="order in option.orders">
        <td>{{order.side}}</td>
        <!-- <td></td> -->
        <!-- <td></td> -->
        <td>{{order.expiration}}</td>
        <td>{{order.strike}}</td>
        <td>{{order.type}}</td>
        <td>{{order.premium}}</td>
        <td><a ng-click="option.remove($index)">Remove</a></td>
      </tr>
    </table>
  </div>
</div>

<button type="button" name="button" ng-click="option.screenshot()">click to append graph</button>
<!-- <form class="simple-form">
    Stock Price: <input type="text" ng-model="option.stock" /><br />
    Strike Price: <input type="text" ng-model="option.strike" /><br />
    Risk free rate: <input type="text" ng-model="option.risk"/><br />
    Volatility: <input type="text" ng-model="option.volatility"/><br />
    Time: <input type="text" ng-model="option.time"/><br />
    <input type="radio" ng-model="option.kind" ng-value="true" />Call
    <input type="radio" ng-model="option.kind" ng-value="false" />Put<br />
    <input type="submit" ng-click="option.getValues()" value="Calculate" />
</form>
<div>
  <span>Price: {{option.price}}</span><br>
  <span>Delta: {{option.delta}}</span><br>
  <span>Gamma: {{option.gamma}}</span><br>
  <span>Theta: {{option.theta}}</span><br>
  <span>Rho: {{option.rho}}</span><br>
</div> -->


<!-- <h3>Albums</h3>
<div class="row">
	<div class="col-md-8">
	  <div>
	    <div ng-repeat="album in vm.artist" class="song">
	 		<itunes-album album="album" click="vm.favorite(album)" ng-if="album.trackCount"></itunes-album>
		</div>
	  </div>
	</div>
</div> -->
